<!--&lt;!&ndash; Portfolio Grid Section &ndash;&gt;-->
<!--<div class="portfolio-grid">-->
<!--    {% for item in site.portfolio %}-->
<!--    <div class="portfolio-cell">-->
<!--        <a class="portfolio-link" data-keyboard="true" href="{{ item.url | relative_url }}">-->
<!--            <div class="caption" title="{{ item.title }}">-->
<!--                <div class="caption-content">-->
<!--                    <i class="fas fa-search-plus fa-3x"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <img alt="" class="" src="{{ item.img | relative_url }}">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="portfolio-divider"></div>-->
<!--    {% endfor %}-->
<!--</div>-->


<!-- Portfolio Grid Section -->
<div class="portfolio-grid">
    {% for item in site.portfolio %}
    <div class="portfolio-cell">
        <a class="portfolio-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <a class="portfolio-image-link" href="{{ item.external_link }}" target="_blank">
                <img alt="" class="portfolio-image" src="{{ item.img | relative_url }}">
            </a>
            <div class="portfolio-description">
                <h3 class="portfolio-title">
                    {% if item.external_link %}
                    <a href="{{ item.external_link }}" target="_blank">{{ item.title }}</a>
                    {% else %}
                    <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {% endif %}
                </h3>
                <p class="portfolio-text">{{ item.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

