<!--&lt;!&ndash; Portfolio Grid Section &ndash;&gt;-->
<!--<div class="portfolio-grid">-->
<!--    {% for item in site.portfolio %}-->
<!--    <div class="portfolio-cell">-->
<!--        <a class="portfolio-link" data-keyboard="true" href="{{ item.url | relative_url }}">-->
<!--            <div class="caption" title="{{ item.title }}">-->
<!--                <div class="caption-content">-->
<!--                    <i class="fas fa-search-plus fa-3x"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <img alt="" class="" src="{{ item.img | relative_url }}">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="portfolio-divider"></div>-->
<!--    {% endfor %}-->
<!--</div>-->


<!-- Portfolio Grid Section -->
<div class="portfolio-grid">
    {% for item in site.portfolio %}
    <div class="portfolio-cell">
        <a class="portfolio-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img alt="陈十一" class="portfolio-image" src="{{ item.img | relative_url }}">
            <div class="portfolio-description">
                <h3 class="portfolio-title">Shiyi Chen 陈十一</h3>
                <p class="portfolio-text">中国科学院院士，发展中国家科学院院士，曾任北京大学工学院创院院长、北京大学副校长、南方科技大学第二任校长</p>
            </div>
        </a>
        <a class="portfolio-link" data-keyboard="true" href="https://ysg.ckcest.cn/html/details/8124/index.html">
            <div class="caption" title="查看更多">
                <div class="caption-content">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img alt="陈十一" class="portfolio-image" src="assets/img/portfolio/xiatingfeng.png">
            <div class="portfolio-description">
                <h3 class="portfolio-title">Xiating Feng 冯夏庭</h3>
                <p class="portfolio-text">中国工程院院士，东北大学校长，国际地质工程联合会主席</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
